<nav class="nav-row jst-between aln-center box">
    <div class="row aln-center">
        <div class="nav-title"><span>Roo</span>bie</div>
        <div class="row rsp-menu">
            <a class="nav-item">Home</a>
            <a class="nav-item">Products</a>
            <a class="nav-item">About Us</a>
            <a class="nav-item">Contact Us</a>
            <a class="nav-item">Help</a>
        </div>
    </div>
    <div class="row mrgr">
        <a class="nav-item">user@roobie.net</a>
    </div>
</nav>
<h1 class="mrg _zoomt">Roobie Angular Starter</h1>
<div class="row aln-center padh _fade br mrg3 wrp">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn bg-red2">Red</button>
    <button type="button" class="btn bg-orange2">Orange</button>
    <button type="button" class="btn bg-yellow2">Yellow</button>
    <button type="button" class="btn bg-green2">Green</button>
    <button type="button" class="btn bg-blue2">Blue</button>
    <button type="button" class="btn bg-indigo2">Indigo</button>
    <button type="button" class="btn bg-violet2">Violet</button>
    <a class="chiph mrg">Chip</a>
    <ul class="ul">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <div class="drp mrg2">
        <a class="drp-btn bthh">Dropdown</a>
        <div class="drp-cnt br txtc">
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a>
        </div>
    </div>
    <input class="input boxh mrg2" placeholder="Input">
    <ul class="path mrg2">
        <li class="path-item">Home</li>
        <li class="path-item">Docs</li>
    </ul>
    <label class="toggle mrg2">
            <input type="checkbox">
             <span class="slider round"></span>
        </label>
    <p tooltip="Tooltip text" class="mrg2">
        Tooltip
    </p>
    <div class="accordion">
        <button class="accordion-header">Section 1</button>
        <div class="accordion-panel">
            <p>This is the first section.</p>
        </div>
        <button class="accordion-header">Section 2</button>
        <div class="accordion-panel">
            <p>This is the second section.</p>
        </div>
        <button class="accordion-header">Section 3</button>
        <div class="accordion-panel">
            <p>This is the third section.</p>
        </div>
    </div>
    <div class="card" style="width: 350px; height: 250px;">
        <h2 class="card-title">Title</h2>
        <span class="card-subtitle">Subtitle</span>
        <div class="card-content">
            This is the content.
        </div>
        <div class="card-actions">
            <button type="button" class="btn btn-secondary">Purchase</button>
            <button type="button" class="btn btn-primary">Share</button>
        </div>
    </div>
    <div id="carouselBasic" class="carousel" style="width: 500px; height: 350px;">
        <div class="carousel-slide">
            <h1>Slide 1</h1>
        </div>
        <div class="carousel-slide">
            <h1>Slide 2</h1>
        </div>
        <div class="carousel-slide">
            <h1>Slide 3</h1>
        </div>
        <a class="carousel-previous">&#10094;</a>
        <a class="carousel-next">&#10095;</a>
    </div>
    <nav class="nav-row jst-between aln-center bdr1">
        <div class="row aln-center">
            <a class="nav-title" href="">Roobie</a>
            <div class="row rsp-menu">
                <a class="nav-item">Home</a>
                <a class="nav-item">Products</a>
                <a class="nav-item">About Us</a>
                <a class="nav-item">Contact Us</a>
                <a class="nav-item">Help</a>
            </div>
        </div>
        <div class="row">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
    <nav class="nav-row jst-around aln-center bdr1">
        <div class="row aln-center">
            <a class="nav-title" href="">Roobie</a>
        </div>
        <div class="row aln-center rsp-menu-xl">
            <a class="nav-item">Home</a>
            <a class="nav-item">Products</a>
            <a class="nav-item">About Us</a>
            <a class="nav-item">Contact Us</a>
            <a class="nav-item">Help</a>
        </div>
        <div class="row">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
    <nav class="nav-row jst-around aln-center bdr1">
        <div class="row aln-center">
            <a class="nav-title" href="">Roobie</a>
            <div class="row aln-center rsp-menu-l">
                <a class="nav-item">Home</a>
                <a class="nav-item">Products</a>
                <a class="nav-item">About Us</a>
                <a class="nav-item">Contact Us</a>
                <a class="nav-item">Help</a>
            </div>
        </div>
    </nav>
    <nav class="nav-row jst-between aln-center bdr1">
        <div class="row aln-center">
            <a class="nav-title" href="">Roobie</a>
            <div class="row aln-center rsp-menu">
                <a class="nav-item">Home</a>
                <a class="nav-item">Products</a>
                <a class="nav-item">About Us</a>
                <a class="nav-item">Contact Us</a>
            </div>
        </div>
        <input type="text" class="input input-outline" placeholder="Search">
    </nav>
    <nav class="nav-row jst-between aln-center bdr1">
        <div class="row aln-center">
            <a class="nav-title" href="">Roobie</a>
            <div class="row aln-center rsp-menu">
                <a class="nav-item">Home</a>
                <a class="nav-item">Products</a>
                <a class="nav-item">About Us</a>
                <a class="nav-item">Contact Us</a>
            </div>
        </div>
        <input type="text" class="input input-outline input-expand" placeholder="Search with expand">
    </nav>
    <nav class="nav-row jst-between aln-center bdr1">
        <a class="nav-title" href="">Roobie</a>
        <div class="row aln-center rsp-menu-s">
            <a class="nav-item">Home</a>
            <a class="nav-item">Products</a>
            <a class="nav-item">Help</a>
        </div>
    </nav>
    <div class="select">
        <select>
            <option value="0">Choose Sport</option>
            <option value="1">Soccer</option>
            <option value="2">Baseball</option>
            <option value="3">Hockey</option>
        </select>
    </div>
    <div class="row row-spacer">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>George</td>
                <td>Red</td>
                <td>A kind fellow.</td>
            </tr>
            <tr>
                <td>Lisa</td>
                <td>Green</td>
                <td>The best gardener.</td>
            </tr>
            <tr>
                <td>Billy</td>
                <td>Yellow</td>
                <td>Space flight specialist.</td>
            </tr>
        </table>
        <table class="table br">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>George</td>
                <td>Red</td>
                <td>A kind fellow.</td>
            </tr>
            <tr>
                <td>Lisa</td>
                <td>Green</td>
                <td>The best gardener.</td>
            </tr>
            <tr>
                <td>Billy</td>
                <td>Yellow</td>
                <td>Space flight specialist.</td>
            </tr>
        </table>
    </div>
</div>