<nav class="nav-row jst-cnt-between aln-center box">
    <div class="flx-row aln-center">
        <div class="nav-title"><span>Roo</span>bie</div>
        <div class="flx-row rsp-menu">
            <a class="nav-item">Home</a>
            <a class="nav-item">Products</a>
            <a class="nav-item">About Us</a>
            <a class="nav-item">Contact Us</a>
            <a class="nav-item">Help</a>
        </div>
    </div>
    <div class="flx-row mrgr">
        <a class="nav-item">user@roobie.net</a>
    </div>
</nav>
<h1 class="mrg zoomt">Roobie Angular Starter</h1>
<div class="flx-row aln-center pad fade br box mrg3 bg2">
    <a class="btnh">Button</a>
    <a class="tagh mrg">Tag</a>
    <ul class="ul div1">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <div class="drp mrg2">
        <a class="drp-btn bthh">Dropdown</a>
        <div class="drp-cnt br txtc">
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a>
        </div>
    </div>
    <input class="inp boxh" placeholder="Input">
</div>